html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding: 100px;
    padding-bottom: 0;
}

.content {
    margin-bottom: 150px;
}

#add {
    background-color: #337ab7;
    color: white;
    margin-top: 25px;
}

